<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style3.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>


<div class="wrapper">
    <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
            <h3>BioLambda</h3>
            <strong>Area admistrativa</strong>
        </div>
    
        <ul class="list-unstyled components">
            <li>
                <a class="" href="/admin/">Dashboard</a>
            </li>
            <li  class=""><a href="/admin/perfil">Perfil</a></li>
            <li class="">
                <a href="/admin/navegador">Barra de navegação</a>
            </li>
            <li>Atualizar página</li>
            <li >
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li >
                        <a class="nav-link" href="/admin/home/sobre">Sobre BioLamda (Tela 01)</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" href="/admin/home/biolambda">O que Biolambda? (Tela 02)</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/home/descricao">Descrição da empresa (Tela 03)</a>
                    </li>
                    <li>
                        <a  href="#descriptionSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sobre o produto</a>
                        <ul  id="descriptionSubMenu">
                            <li>
                                <a href="/admin/home/produtos/ledLaber">LedLaber</a>
                            </li>
                            <li><a href="/admin/home/produtos/ledBox">LedBox</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="/admin/home/descricao/servicos">Descrição do serviço</a>
                    </li>
                    <li >
                        <a  href="/admin/home/descricao/produto">Descrição do produtos</a>
                    </li>
                    <li>
                        <a href="/admin/home/contato">Contato</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/ceo/fundador">Fundador</a></li>
            <li>
                <a href="#businessSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empresa</a>
                <ul  class="collapse list-unstyled"  id="businessSubMenu">
                    <li class="nav-item"><a class="nav-link" href="/admin/empresa/missao">Missão</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/empresa/feedback">Feedback de cliente</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/empresa/novosProdutos">Novos produtos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/empresa/equipeTecnica">Equipe técnica</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/empresa/cientistasAssociados">Cientistas Associados</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/empresa/empresaCliente">Empresa-cliente</a></li>
                </ul>   
            </li>     
            <li>
                <a href="/admin/aplicacoes">Aplicações</a>
            </li>    
            <li>
            <a href="#productSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Produtos</a>
                <ul  class="collapse list-unstyled"  id="productSubMenu">
                    <li ><a  href="/admin/produtos/categoria">Categoria</a></li>
                    <li ><a href="/admin/produtos/descricao">Descrição</a></li>
                    <li ><a  href="/admin/produtos/produtos">Produtos</a></li>
                    <li ><a href="/admin/produtos/tag">Tag</a></li>
                    <li ><a href="/admin/produtos/kit">Kit</a></li>
                    <li ><a href="/admin/produtos/mensagemDeCompra">Mensagem de compra</a></li>                </ul>   
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/eventos">Eventos</a>
            </li>
            <li class="nav-item">
                <a href="#contactSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contato</a>
                <ul  class="collapse list-unstyled"  id="contactSubMenu">
                    <li class="nav-item"><a class="nav-link" href="/admin/contato/texto">Texto</a>
                    <li class="nav-item"><a class="nav-link" href="/admin/contato/contato">Contato</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
