{% extends '/br/base.html.twig' %}

{% block title %}BioLambda{% endblock %}

{% block body %}

  <main>
        
    <div class="imageHome ">
      <img class="bgHome"src="/images/bg.jpg">
      <div class="groupText"> 
        <h2 class="text-left">Fontes de Luz Inovadoras<br/>
        para aplicações cientificas, médicas e industriais.</h2>
      </div>
    </div>
    
    <div class="description row">
      <div class="descriptionText col-md-6"> 
        <h2 class="text-left">Revolucione seus experiementos com luz!</h2>
        
        <h3 class="text-justify">
          Não perca mais tempo calculando e calibraqndo parametros de irradiação! Dedique seu tempo à análises feitas após o experimento.
        </h3>
        
        <h3>
          Com os controladores BlackBox Smart e BlackBox Mini você pode facilmente configurar seu protocolo de irradiação. Os parâmetros de irradiância (mW/cm²)
          e exposição radiante (J/cm²) são rapidamente configurados através de uma tela touchscreen.  
        </h3>
      </div>
      <img class="col-md-5" src="/images/box.jpg">
    </div>
<div class="container">
  <div class="productLedSaber">
    <img class="vitrineProduto" src="/images/utilizandoInVivo.png" alt="Foto do LedSaber em funcionamento">
    <h2>Fontes de luz excelência</h2>
    <p>
    LEDsaber é proprio para aplicações clínicas e pré-clinicas. Suas caracteristicas 
    ergonômicas, permitem manuseá-lo de forma segura e confortável. Ele ainda pode ser facilmente
    higienizado após o uso. Esta fonte de luz ilumina áreas de 4.15cm² com níveis de irradiância atingindo até 100 mW/cm².
    </p>
    <div class="row">
      <img src="/images/LEDsaber-3-300x225.png" alt="Foto do LEDSaber">
      <a class="btn btn-orange btn-lg rounded-0">Comprar LEDSaber</a>
    </div>
  </div>
  <div class="productLedBox">
      <img class="vitrineProduto" src="/images/produtoLedBox_invitro2-p-1080-300x263.jpg" alt="Foto do produto LedBox em funcionamento">
      <p>LEDbox é a fonte de luz perfeita para seus experimentos in vitro e in vivo. 
      Irradie placas de cultura de células e pequenos animais inteiros de uma só vez.
      Nosso sistema óptico exclusivo fornece uma irradiação tão homogênea que voce téra certeza
      que todas amostras vão receber exatamente a quantidade de luz desejada. Esta fonte de luz
      ilumina áreas de até 163,5 cm² com níveis de irradiância atigindo até 50 mW/cm².
      </p>
      <div class="row">
        <img src="/images/ledBox-300x300.png" alt="Foto do produto LedBox">
        <a class="btn btn-orange btn-lg rounded-0 ">Comprar LedBox</a>
      </div>
  </div>
  </div>
    <div class="scientist container">
      <h2>Descomplique sua pesquisa científica!</h2>
      <div class="row">
        <div class="col-7">
          <img class="bgScientist" src="/images/scientist.png">
        </div>
        <div class="col-5">
          <p class="p1">Fique tranquilo, nós nos preocuparemos com a reprodutibilidade dos seus protocolos de irradiação.</p>
          <p>Nossos equipamentos são desenvolvidos para  simplificar sua rotina de experimentos de  Biofotônica, Fotoquímica e Fotobiologia.</p>
          <p>Temos as melhores soluções tecnológicas para uso em Terapia Fotodinâmica, Fotoinativação, Fotopolierização e Fotobiomodulação (Laserterapia).</p>
        </div>
    </div>
  <div class="container">
    <div class="quality">
      <div class="row">

        <div class="col-4">
          <h2>LEDs e Lasers de última geração</h2>
          <h3>Mais potência, segurança, estabilidade, durabilidade, e homogeneidade<h3>
        </div>
        <div class="col-4">
          <h2>Engenharia avançada</h2>
          <h3>Design computadorizado, usinagem robotizada, materiais nobres e peças robustas<h3>
        </div>
        <div class="col-4">
          <h2>Mais de 40 opções de comprimentos de onda</h2>
          <h3>Do infravermelho ao ultravioleta, temos a fonte de luz ideal para tudo o que você precisa.<h3>
        </div>

      </div>
      <div class="img">
      <div class="row">
        <div class="col-8">
          <img src="images/irradiator_ledbox.png" alt="Produto ledbox irradiator">
        </div>
        <div class="col-4 ">
          <p class="plus">+</p>
          <h3>Precisão<br>
          Resultados<br>
          Reprodutibilidade</h3>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="clients">
    <h2>As princiçais universidades e intituições de pesquisa em fotônicas do país usam nossos equipamentos</h2>
    <p>Entregamos em todo território nacional e internacional.</p>
  
  <div class="feedbackClients">
    <h2>Veja o que nossos clientes acham de nós</h2>
  </div>

  <div class="container">
    <div class="partners row">
      <h2 class="col-md-12">Novos produtos em desenvolvimento com parceiros Oficiais</h2>

      <img class="col-md-6" src="images/cmpemImg.png" alt="Logo da CNPEM">
      <div class="col-md-4">
        <h3>Fotopasteurização Industrial</h3>
        <p>Inativação microbiana mediana por luz em escala industrial</p>
      </div>

      <img class="col-md-6" src="images/fapesp.png" alt="Logo da Fapesp">
      <div class="col-md-4">
        <h3>Equipamentos Clínicos</h3>
        <p>Fototerapia para clínicas médica, odontológica, veterinária e de fisioterapia.</p>
      </div>
          
      <img class="col-md-6"  src="images/redoxoma.png" alt="Logo da Redoxoma">
      <div class="col-md-4">
        <h3>Pesquisa básica e aplicada</h3>
        <p>Equipamentos para pesquisa em processo de fotoquímica e fotobiológia</p>
      </div>
    </div>
  </div>


  <div class="contact">
    <h2>Tire suas dúvidas técnicas</h2>
    <p>Nossa equipe de cientistas e engenheiros entrará em contato rapidamente com a melhor solução customizada para você.</p>
    <div class="row">
      <img class="col-8" src="images/scientist2.png" alt="Cientista">
      <div class="col-3">
        <form>
          <input type="email" class="form-control" placeholder="Email" required>
          <textarea class="form-control" placeholder="Mensagem" required></textarea>
          <button   class="text-white text-center btn btn-lg btn-block rounded-0">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}