<footer class="text-center">
  <h2>Curtiu BioLambda?</h2>
  <p>Compartilhe com seus amigos e nos siga nas rede sociais</p>
  <div class="row logos">
    <div class="col-4">
      <a class=""  target="_blank" aria-label="Facebook da BioLambda"title="Facebook" href="https://www.facebook.com/BioLambdaBiophotonics/">
        <img src="/images/logoFb.png" alt="Facebook logotipo"></a>
    </div>
    <div class="col-4">
      <a class=""  target="_blank" aria-label="Instagram da Biolambda" title="Instagram" href="https://www.instagram.com/biolambda_biophotonics/">
        <img src="/images/logoInsta.png" alt="Instagram logotipo">
      </a>
    </div>
    <div class="col-4">
      <a  target="_blank"aria-label="Whatsapp da BioLambda" title="Whatsapp" class="" href="https://bit.ly/2U9e8vI">
        <img src="/images/logoWhats.png" alt="Whatsapp logotipo">
      </a>
    </div>
  </div>
  <div class="row datas">
    <div class="col-6">
      <h4><strong>Contato</strong></h4>
      <a href="tel:+55113768-5139" target="_blank" aria-label="Telefone da BioLambda" title="Telefone">
        <h5>Tel: +55 (11) 3768-5139</h5>
      </a>
      <a href="tel:+551198242-8544"  target="_blank" aria-label="Celular da BioLambda" title="Celular" >
        <h5>Cel: +55 (11) 98242-8544</h5>
      </a>
    </div>
    
    <div class="col-6">
      <a   target="_blank"  aria-label="Localização de BioLambda" title="E-mail" class="" href="https://bit.ly/2uJ9FAK"><h4><strong>Localização</strong></h4></a>
      <h5>Rua Prof.Teotônio Monteiro de Barros Filho, 532</h5>
      <h5>CEP 05360-030, Vila Butanã, São Paulo, SP, Brasil</h5><br/>
    </div>

  </div>
  <p>
      Todos os direitos reservados por &copy; BioLambda Cientifica e Comercial Ltda. - <script>document.write(new Date().getFullYear());</script> .
  </p>      
</footer>