{% extends "/admin/base.html.twig" %}

{% block body %}
    <!-- Our Custom CSS -->

   <div class="row">
        <div class="col-3">
            {% include "/admin/articles/header.html.twig" %}
        </div>
        <div class="col">
            <h1 class="title">Fundador</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% include "/admin/articles/footer.html.twig" %}

{% endblock %}

